*{
    margin: 0;
    padding: 0;
}

/* Header Start  */
header section{
    background-color: var(--bg-lightest);
    color: white;
    font-family: "body-1-2";
    padding: 8.5vw var(--section-pad);
    display: flex;
    flex-direction: column;
    gap: 4.2vw;
    padding-bottom: 28.8vw;
    background-image: url(../assets/icons/about-header-bg-icon.svg);
    background-size: 26.6vw;
    background-repeat: no-repeat;
    background-position: right bottom;
}

header section h1{
    font-family: "H1-H2-H3";
    font-size: var(--font-h1);
    color: #FFF;
    text-align: center;
    font-weight: 700;
    line-height: 100%;
}

header section p {
    text-align: center;
    font-size: var(--font-body-2);
    font-style: normal;
    font-weight: 600;
    line-height: 187.667%;
}
/* Header End  */
