*{
    margin: 0;
}

/* Header Start */
header section{
    background-color: var(--bg-lightest);
    color: white;
    font-family: "body-1-2";
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14.9vw;
    padding: 8.5vw var(--section-pad);
    padding-bottom: 23.4vw;
    background-image: url(/assets//icons/contact-us-header-bg.svg);
    background-size: 26.4vw;
    background-repeat: no-repeat;
    background-position: right bottom;
}

header section > div{
    display: flex;
    flex-direction: column;
    gap: 10.6vw;
}

.contact-text-container{
    display: flex;
    flex-direction: column;
    gap: 4.2vw;
}

header h1, h2{
    font-family: "H1-H2-H3";
    text-align: center;
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 700;
}

header h1{
    font-size: var(--font-h1);
    line-height: 100%
}

header h2{
    font-size: var(--font-h2);
    line-height: 150%;
    color: var(--accent-coral);
}

.contact-card img{
    width: 19.2vw;
}

.contact-card{
    display: flex;
    gap: 6.1vw;
    align-items: center;
}

.contact-card h3{
    font-size: var(--font-h3);
    font-family: "H1-H2-H3";
    font-weight: 700;
    line-height: 155.556%;
    padding-top: 3px;
}

.contact-card-container{
    display: flex;
    flex-direction: column;
    gap: 6.4vw;
}

header section form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6.6vw;
}

header section form input, header section form textarea{
    resize: none;
    padding: 0px 0px 4.2vw 4.1vw;
    box-sizing: border-box;
    background-color: transparent;
    width: 100%;
    border: 0;
    color: white;
    font-family: "body-1-2";
    opacity: 0.8;
    border-bottom: 1px solid white;
    font-size: var(--font-body-2);
    line-height: 166.667%;
    letter-spacing: -0.115px;
    font-weight: 600;
}

header section form textarea{
    padding-bottom: 2.4vw;
}

header section form input::placeholder, header section form textarea::placeholder{
    color: white;
    opacity: 0.6;
    font-family: "H1-H2-H3";
    line-height: 166.667%;
    font-size: var(--font-body-2);
    letter-spacing: -0.115px;
    font-weight: 600;
}

header section form .input-container:has(textarea){
    height: 22.4vw;
}

header section form input:focus, header section form textarea:focus{
    outline: none;
    border-bottom-color: var(--accent-blue);
}

header section form input:user-invalid, header section form textarea:user-invalid{
    border-bottom-color: var(--accent-coral);
}

header section form .input-container:has(input:user-invalid)::after, header section form .input-container:has(textarea:user-invalid)::after{
    content: "This field is required";
    color: var(--accent-coral);
    font-size: 2.6vw;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    display: block;
    padding-top: 2.1vw;
}

header section form:has(textarea:user-invalid) button{
    margin-top: 6.6vw;
    box-sizing: content-box;
}

header section form button{
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    border: 0;
    font-family: "body-1-2";
    line-height: 155.556%;
    font-size: var(--font-body);
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 2.6vw 0px;
    align-items: center;
    border-radius: 24px;
    color: var(--bg-darkest);
    width: 32.8vw;
}


/* Header End */

/* Tablet Media Start */
@media screen and (min-width: 768px) {
    /* Header Start */
    header section{
        padding: 5.9vw 15vw;
        padding-bottom: 14.8vw;
        gap: 8.75vw;
        background-image: url("../assets/icons/contact-us-top-bg-tablet.svg"), url("../assets/icons/contact-us-bg-tablet.png");
        background-position: top 5.3vw left, bottom right;
        background-size: 13vw;
    }

    .contact-text-container{
        gap: 2.5vw;
    }

    .contact-card img{
        width: 9.375vw;
    }

    header section > div{
        width: 100%;
        display: flex;
        gap: 3.125vw;
        padding: 0 1.5vw;
    }

    .contact-card{
        gap: 3vw;
    }

    .contact-card-container{
        gap: 1vw;
    }

    .contact-card h3{
        letter-spacing: 0.2px;
    }

    header section form{
        gap: 3.3vw;
    }

    header section form input, header section form textarea{
        padding: 0px 0px 1.9vw 1.8vw;
    }

    header section form textarea{
        padding-bottom: 1vw;
    }

    header section form .input-container:has(textarea){
        height: fit-content;
    }

    header section form button{
        width: 16vw;
        padding: 1.1vw 4.1vw;
        margin-top: -4px;
    }

    header section form .input-container:has(input:user-invalid)::after, header section form .input-container:has(textarea:user-invalid)::after{
        font-size: 1.3vw;
    }
    /* Header End */
}

/* Tablet Media End */
