*{
    margin: 0;
    padding: 0;
}

/* Header Start  */
header section{
    background-color: var(--bg-lightest);
    color: white;
    font-family: "body-1-2";
    padding: 32px var(--section-pad);
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-bottom: 197px;
    background-image: url(../assets/icons/home-bg-icon.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

header section h1{
    font-family: "H1-H2-H3";
    font-size: var(--font-h1);
    color: #FFF;
    text-align: center;
    font-weight: 700;
    line-height: 100%;
}

header section h1 span{
    color: var(--accent-coral);
}

header section p {
    text-align: center;
    font-size: var(--font-body-2);
    font-style: normal;
    font-weight: 600;
    line-height: 186.667%;
}
/* Header End  */