:root {
    --bg-lightest: rgb(1, 78, 86);
    --bg-lighter: rgb(0, 64, 71);
    --bg-darker: rgb(1, 47, 52);
    --bg-darkest: rgb(0, 32, 41);
    --accent-coral: rgb(246, 126, 126);
    --accent-blue: rgb(121, 200, 199);
    --decor: rgb(44, 98, 105);
    --font-h1: 64px;
    --font-h2: 48px;
    --font-h3: 18px;
    --font-body: 18px;
    --section-pad: 24px;
}

/* FONTS */

@font-face {
    font-family: H1-H2-H3;
    src: url(../assets/fonts/Livvic-Bold.ttf);
}
@font-face {
    font-family: body-1-2;
    src: url(../assets/fonts/Livvic-Medium.ttf);
    font-weight: 600;
}
/* CONTACT SECTION */
.contact{
    background-color: var(--accent-coral);
    position: relative;
    padding: 83px 24px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
   
}
.contact__title{
    color:var(--bg-darkest) ;
    font: normal 700 32px/32px H1-H2-H3;
    text-align: center;
}
.contact__button{
   
    color:var(--bg-darkest) ;
    font: normal 600 18px/28px H1-H2-H3;
    border-radius: 24px;
    border: 2px solid var(--bg-darkest);
    padding: 9px 33px;
    background-color: var(--accent-coral);
    transition: 0.7s;
}
.contact__button:hover{
    background-color: rgb(226, 100, 100);
    box-shadow: 0 7px 20px rgba(26, 26, 36, 0.2); 
    transform: scale(1.1);
    cursor: pointer;
}
.contact__img{
    position: absolute;
    bottom: 0;
    left: 0;
}